ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D4A023;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #888800;
}
 
body {
  padding: 25px;
  background-color: white;
  color: black;
  text-align: center;
}

.bio {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }

li.hover {
  background-color: #111;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: orange;
}

a:active {
  color: blue;
  text-decoration: none;
}

#upBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #D4A023;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#upBtn:hover {
  background-color: #9D771C;
}
