ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #888800;
}
 
    body {
    padding-top: 50px;
    text-align: center;
    background-color: #ffffff;
    font-color: #000000;
    font-family: 'Oxygen', sans-serif;
}

    .bio {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }

li.hover {
  background-color: #111;
}
