body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #d4a023;
  align-items: center;
}

nav .name {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4a023;
  width: 100%;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: gray;
}

.active {
  background-color: #888800;
}

body {
  margin: 0;
  background-color: white;
  color: black;
  text-align: center;
}

.bio {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

li.hover {
  background-color: #111;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #c46210;
  text-decoration: none;
}

a:hover {
  color: orange;
}

a:active {
  color: blue;
  text-decoration: none;
}

#upBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #d4a023;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#upBtn:hover {
  background-color: #9d771c;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

a {
  font-weight: 500;
}

.privacyContent {
	color: var(--textPrimary);
	font-size: 20px;
	width: 100%;
	margin-top: 0px;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	padding: 20px;
}

.privacyWarning {
	font-family: Arial, sans-serif;
	position: fixed;
	width: 100%;
	padding: 10px;
	bottom: 0px;
	background-color: #fff959;
	text-align: center;
}

.privacyWarning:empty {
	display: none;
}

.privacyButton {
	border: 3px solid black;
	border-radius: 10px;
	padding: 10px;
	width: 100px;
	background-color: 808080;
}

.privacyButton:hover {
	background-color: #d3d3d3;
	color: black;
}
